/* This prevents the header for appearing over the dialogs */
.TableEditorView > .jexcel_content > .jexcel > thead > tr > td
{
    z-index: 1000;
}

/* This prevents the horizontal scrollbar from showing up unnecessarily */
.TableEditorViewNNN > .jexcel_content > .jexcel
{
    width: auto;
}

.TableEditorView > .jexcel_content > .jexcel
{
    margin-right: 16px;
}